#app-mount {
  background: url("https://grecklock.github.io/FH/Nie-R-Background-lowB.png") center/cover no-repeat;
}

.homeIcon-FuNwkv {
  background: url(https://i.imgur.com/09fncQw.png) center/contain no-repeat;
}

#app-mount:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background:
  -webkit-user-select: none;
          user-select: none;
  pointer-events: none;
}
